

  <!-- akhir navbar disini -->

<!-- AWAL JUMBOTRON 1 -->

  <div class="container-fluid banner">
    <div class="container banner-content">
      <h1 class="display-4 text-white">Play traditional game</h1>
      <p class="lead text-white">Experience new traditional game play</p>
      <a class="btn btn-warning button" href="/login">Play now</a>
      <p class="text-story header-scroll-toggle">THE STORY</p>
      <img src="./Asset/scroll-down.svg" alt="Kiwi standing on oval">

    </div>
  </div>

  <!-- AKHIR JUMBOTRON 1 -->

<!-- AWAL JUMBOTRON 2 -->

  <div class="container-fluid banner-2">
    <div class="row row-margin">
      <div class="col p-3 text-white text-special">What's so special? <br><span class="text-games">THE GAMES</span> </div>
      <div class="col p-3 text-white"><div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img1"  src="./Asset/rockpaperstrategy-1600 1.png"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class='img1' src="./Asset/rockpaperstrategy-1600 1.png"  class="d-block w-100" alt="...">
      </div>
     
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
      </div>
      </div>
    </div>
  </div>
  
  <!-- AKHIR JUMBOTRON 2 -->

  <!-- AWAL JUMBOTRON 3 -->
  <div class="container-fluid banner-3">  
    <div class="row row-custom">
      <div class="col text-white text-special">
      What's so special?
      <br><span class="text-games">FEATURES</span> 
    </div>

  <div class="dot-1">
    <img class = 'dot-child' src="./Asset/ellipse.svg" alt="">
      <h1>TRADITIONAL GAMES</h1>
      <p>If you miss your childhood, we provide <br> many traditional games here</p>
  </div>
  <div class="dot-2">
    <img class = 'dot-child' src="./Asset/ellipse-outline.svg" alt="">
      <h1>GAME SUIT</h1>
  </div>
  <div class="dot-3">
    <img class="dot-child" src="./Asset/ellipse-outline.svg" alt="">
    <h1><span></span>TBD</h1>
  </div>
    
  </div>  
</div>
  <!-- AKHIR JUMBOTRON 3 -->

  <!-- AWAL JUMBOTRON 4 -->

  <div class="container-fluid banner-4" id="system"> 
    
<p class="text-white margin-custom fs-5">Can my computer run this game?</p>
<h1 class="text-white text-requeirements text-edit">SYSTEM <br>requirements</h1>

<div class="row">
  <div class="col-md-12">


<!-- AWAL Table system requirements -->
<table class="table table-bordered table-bordered-desk table-content-sys">
  <tbody>
    <tr>
      <td>
        <h2 class="requirements-info">OS:</h2>
        <p class="requirements-info-content">
          Windows 7 64-bit only<br>(No OSX support at this time)
        </p>
      </td>
      <td>
        <h2 class="requirements-info">Processor:</h2>
        <p class="requirements-info-content">Intel Core 2 Duo @2.4GHz or AMD Athlon X2 @ 2.8GHz</p>
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="requirements-info">Memory:</h2>
        <p class="requirements-info-content">4 GB RAM</p>
      </td>
      <td>
        <h2 class="requirements-info">Storage:</h2>
        <p class="requirements-info-content">8 GB available space</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h2 class="requirements-info">Graphics:</h2>
        <p class="requirements-info-content">
          NVIDIA GeForce GTX 660 2GB or<br>AMD Radeon HD 7850 2GB
          DirectX11 (Shader Model S)
        </p>
      </td>
    </tr>
  </tbody>
</table>
</div>

<!-- AKHIR Table system requirements -->
</div>

</div>

  <!-- AKHIR JUMBOTRON 4  -->

  <!-- AWAL JUMBOTRON 5  -->

<div class="container-fluid banner-5" id="work">
<div class="row">
  <div class="col-sm-6">
    <h1 class="text-white text-edit top-scores ms-5">TOP SCORES</h1>
    <p class="ms-5 text-top-score">This top score from various games provided <br>on this platform</p>
    <a href="#" class="btn btn-warning button-top-score ">SEE MORE</a>
  </div>

  <!-- AWAL BAGIAN CARD 1 -->
  
  <div class="col-sm-6 mt-3">
    <div class="card bg-dark mt-5 margin-card-1">
      <div class="card-body rounded">
      <img class="rounded-circle float mt-0 " src="./Asset/Evan.jpg"></img>
      <h3 class="card-text text-warning text-name pt-0 ">Evan Lahti</h5>
        <i class="fa-brands fa-twitter twitter" style="color:white ;"></i>

         <p class="card-text text-job ms-3">PC Gamer</p>
         <p class="card-text text-desc ms-3">“One of my gaming highlights of the year.”</p>
        <p class="card-text ms-0 text-date">June 18, 2021</p>
      </div>
    </div>

   <!-- AKHIR BAGIAN CARD 1 -->


    <!-- AWAL BAGIAN CARD 2-->

    <div class="card bg-dark mt-4 margin-card-2">
      <div class="card-body rounded">
      <img class="rounded-circle float mt-0 " src="./Asset/Jada.jpg"></img>
      <h3 class="card-text text-warning text-name pt-0 ">Jada Griffin </h5>
        <i class="fa-brands fa-twitter twitter" style="color:white ;"></i>

         <p class="card-text text-job ms-3">Nerdreactor</p>
         <p class="card-text text-desc ms-3">“The next big thing in the world of streaming <br>and survival games.”
        </p>
        <p class="card-text ms-0 text-date">July 10, 2021</p>
      </div>
    </div>
    
    <!-- AKHIR BAGIAN CARD 2-->

    <!-- AWAL BAGIAN CARD 3-->

    <div class="card bg-dark mt-4 margin-card-3">
      <div class="card-body rounded">
      <img class="rounded-circle float mt-0 " src="./Asset/Aaron.jpg"></img>
      <h3 class="card-text text-warning text-name pt-0 ">Aaron Williams </h5>
        <i class="fa-brands fa-twitter twitter" style="color:white ;"></i>

         <p class="card-text text-job ms-3">Uproxx</p>
         <p class="card-text text-desc ms-3">“Snoop Dogg Playing The Wildly Entertaining <br>‘SOS’ Is Ridiculous.”</p>
        <p class="card-text ms-0 text-date">December 24, 2018</p>
      </div>
    </div>

    <!-- AKHIR BAGIAN CARD 3-->

    </div>
  </div>
</div>
  <!-- AKHIR JUMBOTRON 5  -->

    <!-- AWAL JUMBOTRON 6  -->

<div class="container-fluid banner-6" id="news">
<div class="row">
  <div class="col-sm-6 ">
    <img src="./Asset/skull.png" class="mt-0" alt="">
  </div>
  <div class="col-sm-6 mt-5 align-items-left">
    <p class="ms-5 text-white fs-4">Want to stay in <br> touch?</p>
    <h1 class="text-edit-news ms-5 text-white">NEWSLETTER <br> SUBSCRIBE </h1>
    <p class="ms-5 text-top-score text-banner-6 text-white">In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
      <div class="input-group mb-3 input-custom mt-5">
        <input type="text" class="form-control bg-dark text-warning" placeholder="Your email address" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary bg-warning text-black ms-1" type="button" id="button-addon2">Subscribe now</button>
      </div>
  </div>
</div>
</div>
    <!-- AKHIR JUMBOTRON 6  -->

 
   
    <%- include('../../partials/footer'); -%>


  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>

