<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Rock, Paper, Scissors</title>
<link rel="icon" href="./assets 2/logo 1.png" />

<!-- External CSS -->
<link rel="stylesheet" href="style.css" />

<!-- framework bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />

<!-- font custom -->
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet" />

<script src="https://kit.fontawesome.com/f68f52655e.js" crossorigin="anonymous"></script>
