<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
    <style>
      body {
        background-color: black !important;
        color: white;
        align-items: center !important;
        margin: 1rem;
      }
      .form-text {
        color: white !important;
      }

      .form-control {
        width: 80%;
      }

      @media (min-width: 900px) {
        body {
          background-color: black !important;
          color: white;
          align-items: center !important;
          margin: 10rem 0 0 20rem !important;
        }
        .form-text {
          color: white !important;
        }

        .form-control {
          width: 50%;
        }
      }
    </style>
    <%- body %>
  </head>