<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock, Paper, Scissors gameplay</title>
    <link rel="icon" href="./assets 2/logo 1.png" />
    <link rel="stylesheet" href="rpsstyle.css" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet" />
  
    <script src="https://kit.fontawesome.com/f68f52655e.js" crossorigin="anonymous"></script>
  </head>
  <%- body %>