body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.root{
    margin-top: 350px !important;
    margin: auto;
    width: 50%;
}

.formKartu{
    min-width: 190px !important;
    max-width: 200px !important;
}

.btnCustom{
    width: 150px !important;
    height: 38px !important;
    margin-left: 10px !important;
    margin-top: 30px !important;
}