
  <body>
    <h1>Login Games</h1>
    <% if(messages.error) {%>
    <div class="alert alert-danger" style="width: 50%" id="timeout" role="alert">
      <h5><%= messages.error %></h5>
      <% } %>
    </div>
    <form action="/login" method="post" class="container-fluid container-sm mt-5">
      <div class="mb-3">
        <label for="email-address" id="email-address" class="form-label">Email Address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" />
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="password-1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control form-width" id="exampleInputPassword1" />
      </div>

      <div class="mb-3 container-fluid container-sm">
        <a href="/register">Don't have an account? Register here</a>
      </div>

      <button type="submit" class="btn btn-warning">Login</button>
    </form>
    <script>
      setTimeout(function () {
        document.getElementById('timeout').style.display = 'none';
      }, 3000); // 3 seconds
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>
